<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashu.socialmedialauth"  >
    <application>
        <meta-data
            android:name="@string/com.cashu.socialmedialauth.facebookId"
            android:value="\ ${facebookAppId}" />

        <activity
            android:name=".facebook.FacebookAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <provider
            android:authorities="${applicationId}.FacebookInitProvider"
            android:name="com.cashu.socialmedialauth.facebook.FacebookInitProvider"
            android:exported="false" />


        <provider
            android:authorities="${applicationId}.SimpleAuthInitProvider"
            android:name="com.cashu.socialmedialauth.SimpleAuthInitProvider"
            android:exported="false" />


        <meta-data
            android:name="@string/com.cashu.socialmedialauth.instagramClientId"
            android:value="\ ${instagramClientId}" />

        <meta-data
            android:name="@string/com.cashu.socialmedialauth.instagramClientSecret"
            android:value="\ ${instagramClientSecret}" />

        <meta-data
            android:name="@string/com.cashu.socialmedialauth.instagramRedirectUrl"
            android:value="\ ${instagramRedirectUrl}" />

        <activity
            android:name=".instagram.InstagramAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />


        <meta-data
            android:name="@string/com.cashu.socialmedialauth.twitterConsumerKey"
            android:value="\ ${twitterConsumerKey}" />

        <meta-data
            android:name="@string/com.cashu.socialmedialauth.twitterConsumerSecret"
            android:value="\ ${twitterConsumerSecret}" />

        <activity
            android:name=".twitter.TwitterAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />

        <provider
            android:authorities="${applicationId}.TwitterInitProvider"
            android:name=".twitter.TwitterInitProvider"
            android:exported="false" />
        <meta-data
            android:name="@string/com.cashu.socialmedialauth.googleWebClientId"
            android:value="\ ${googleWebClientId}" />

        <activity
            android:name=".google.GoogleAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />
    </application>

</manifest>